@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.cuerpo{
    background-color: bisque;
}

.perfil_ft{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px black solid;
    box-shadow: 7px 7px 5px #611ba2;
}

.cont{
    display: flex;
    text-align: center;
    background-color: #8a2be2;
    padding: 20px;
    border: 1px black solid;
}

.a-d{
    display: flex;
}

.principal{
    padding: 10px;
    border: 1px black solid;
}

.cont-txt{
    text-align: center;
}

.titulo{
    margin-left: 40px;
}

.negrita{
    font-weight: bold;
}

.left-bar{
    padding: 7px;
    background-color: aquamarine;
    width: 300px;
    height: auto;
    border: 1px black solid;
}

.fecha {
    font-size: 110%;
    font-weight: bold;
}

.Icono-color{
    color: purple;
}

p{ 
    font-family: 'Cormorant Garamond', serif;
}
